
 html { 
  background: url('https://wallpapertag.com/wallpaper/full/9/c/8/354183-ombre-background-1920x1080-full-hd.jpg') no-repeat center center fixed; 
  top: 0; 
  left: 0; 
  position: center;
  background-position: center;
  background-size: center;
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 5%; 
}
 
 body { 
  font-family: Helvetica;
  font-size: bold;
  font-size: 18px;
  color: rgb(242, 242, 242);
  text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0);
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
 .title{
  font-size: 250%;
 }
 .subtitle{
   font-size: 22px;
 }
  .center{
  text-align: center;
  }
  .slant{
    font-style: italic;
  }
  .border{
    border-color: rgba(0, 0, 0, 0.233);
    border-width: 1px;
    border-radius:  10px;
    border-style: solid;
  }


  .yellow{ 
    color: rgb(255, 251, 213, 0.850);
  } 
  .blue {
    color: rgba(170, 224, 250, 0.850);
  }
  .yellow a:focus{
    color: rgba(255, 251, 213, 0.850); 
  }
  .yellow  a:visited{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow  a:link{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow a:active{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow a:hover{
    color: rgb(255, 251, 213);
  }

  .blue  a:visited{
    color: rgba(170, 224, 250, 0.850);
  }
  .blue  a:link{
    color: rgba(170, 224, 250, 0.850);
  }
  .blue a:hover{
    color: rgb(170, 224, 250);
  }
  
  .black a:visited{
    color: rgba(0, 0, 0, 0.750);
  }
  .black  a:link{
    color: rgba(0, 0, 0, 0.750);
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255);
  }
  .black a:hover{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
  }


  li{
    margin: 10px 0;
    font-size: 16px;
  }

  ul{
    list-style: none; 
    padding: 2px;
    text-indent: 42px;
  }
    
  li::before {
      content: "• ";
      padding: 10px;
      color: rgb(239, 215, 253);
      text-shadow: 1px 1px 2px rgb(103, 12, 155);
    }

div.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

h2{
  font-family: "Sacramento";
  font-stretch: wider;
  font-style: bold;
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 15px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: -18px;
}

.row2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  margin: 30px;
}

.squeeze{
  margin-top: -20px;
}

.bold{
  font-style: unset;
}

.stars{
  display: inline-block;
  color: rgb(255, 215, 0);
  margin-inline-start: -40px;
  margin-left: -40px;
}

.quote{
  text-align: center;
  color: rgb(67, 0, 105);
  text-shadow: 0 0 2px rgb(226, 225, 225), 0 0 7px rgb(226, 225, 225);
  font-weight: 900;

}

#white {
  background-color:rgba(255, 255, 255, 0.1);
  width:265px;
}
#blue {
  background-color:rgba(0, 0, 255, 0.100);
  width:265px;
}
#black {
  background-color:rgba(0, 0, 0, 0.120);
  width:265px;
}
#red {
  background-color:rgba(255, 0, 0, 0.1);
  width:265px;
}
#green {
  background-color:rgba(9, 255, 0, 0.1);
  width:265px;
}


.stone{
  background-color: rgba(79, 75, 63, 0.925);

}





