
.html-mobile-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%; /* To compensate for mobile browser address bar space */
  background: url('https://wallpapertag.com/wallpaper/full/9/c/8/354183-ombre-background-1920x1080-full-hd.jpg') no-repeat; 
  background-size: 100% 100%;
}

@media (min-width: 600px) {
  html { 
    background: url('https://wallpapertag.com/wallpaper/full/9/c/8/354183-ombre-background-1920x1080-full-hd.jpg') no-repeat center center fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
    position: center;
    background-position: center;
    background-size: auto;
    max-height: 115%;
    min-height: 100%;
    max-width: 98%;
    min-width: 2%; 
  }
  .html-mobile-background {
      display: none;
  }
}


 
 body { 
  font-family: Helvetica;
  font-size: bold;
  font-size: 18px;
  color: rgb(242, 242, 242);
  text-shadow: 0 0 3px rgb(20, 0, 20), 0 0 3px rgb(20, 0, 20);
  margin-top: 20px;
}
 .title{
   display: flex center;
   flex-wrap: nowrap;   
   flex-shrink: 1;
  font-size: 4.2vw;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  text-shadow: 0 0 6px rgb(28, 0, 41), 0 0 6px rgb(28, 0, 41);
  margin-left: 0px;
  margin-right: 0px;
 }
 .shadow{
  text-shadow: 0 0 6px rgb(28, 0, 41), 0 0 6px rgb(28, 0, 41);
 }
 .subtitle{
   margin-top: -20px;
   font-size: 3.75vw;
   text-shadow: 0 0 6px rgb(28, 0, 41), 0 0 6px rgb(28, 0, 41);

 }
  .center{
  text-align: center;
  }
  .slant{
    font-style: italic;
  }
  .border{
    border-color: rgba(0, 0, 0, 0.233);
    border-width: 1px;
    border-radius:  10px;
    border-style: solid;
  }


  .yellow{ 
    color: rgb(255, 251, 213, 0.850);
  } 
  .blue {
    color: rgba(170, 224, 250, 0.850);
  }
  .red{
    color: rgba(255, 251, 213, 0.850);
  }
  .black{
    color: rgba(205, 193, 193, 0.850);
  }
  .yellow a:focus{
    color: rgba(255, 251, 213, 0.850); 
  }
  .yellow  a:visited{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow  a:link{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow a:active{
    color: rgba(255, 251, 213, 0.850);
  }
  .yellow a:hover{
    color: rgb(255, 251, 213);
  }

  .blue  a:visited{
    color: rgba(170, 224, 250, 0.850);
  }
  .blue  a:link{
    color: rgba(170, 224, 250, 0.850);
  }
  .blue a:hover{
    color: rgb(170, 224, 250);
  }
  
  .black a:visited{
    color: rgba(205, 193, 193, 0.850);
  }
  .black  a:link{
    color: rgba(205, 193, 193, 0.850);
  }
  .black a:hover{
    color: rgb(205, 193, 193);
  }

  .red a:visited{
    color: rgba(250, 170, 143, 0.850);
  }
  .red  a:link{
    color: rgba(250, 170, 143, 0.850);
  }
  .red a:hover{
    color: rgb(250, 170, 143);
  } 
  .red a:active{
    color: rgba(250, 170, 143, 0.850);
  }
  .red a:focus{
    color: rgba(250, 170, 143, 0.850);
  }

  li{
    margin: 10px 0;
    font-size: 16px;
  }

  ul{
    list-style: none; 
    padding: 2px;
    text-indent: 42px;
  }
    
  li::before {
      content: "• ";
      padding: 10px;
      color: rgb(239, 215, 253);
      text-shadow: 1px 1px 2px rgb(81, 11, 122);
    }

div.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

h2{
  font-family: "Sacramento";
  font-stretch: wider;
  font-style: bold;
  font-size: 43px;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 15px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: -18px;
}

.row2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.squeeze{
  margin-top: -20px;
}

.bold{
  font-style: unset;
}

.stars{
  display: inline-block;
  color: rgb(255, 215, 0);
  margin-inline-start: -40px;
  margin-left: -40px;
}

.quote{
  text-align: center;
  color: rgb(224, 201, 184);
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
  font-weight: 600;

}

#white {
  background-color:rgba(255, 255, 255, 0.1);
  width:265px;
}
#blue {
  background-color:rgba(0, 0, 255, 0.100);
  width:265px;
}
#black {
  background-color:rgba(0, 0, 0, 0.120);
  width:265px;
}
#red {
  background-color:rgba(255, 0, 0, 0.1);
  width:265px;
}
#green {
  background-color:rgba(9, 255, 0, 0.1);
  width:265px;
}


.stone{
  background-color: rgba(79, 75, 63, 0.925);

}

.lessTopMargin{
  margin-top: -10px;
}
.moreTopMargin{
  margin-top: 35px;
}



